@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*
{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}

.container
{
    display: flex;
    padding:10px;
    height: 300px;;
    width:250px;
    flex-direction: column;
    align-items: center;
    border-radius:10px;
    background: hsla(152, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 90%);
    
    
    
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


}

h2
{
    color: white;
    margin-top:30px;

}

.input-box
{
    margin:10px;
    margin-top:20px;
    padding: 20px;
}

input
{
    padding:5px;
    border: none;
    background: rgba(255,255,255,.7);
    color:#C4C4C4;
    border-radius: 10px;
    color: #C4C4C4;
    font-weight: 600;
    padding:10px;
    text-align: center;
}

button
{
    background: rgba(255, 255, 255, 0.8);
    padding:5px 20px;
    color: #000000;
    border:none;
    border-radius: 50px;
    font-weight: 600;

}